.head{
    background-image: url(./wallhaven-eoprd8.png);
    background-size: cover;
    background-position-y: center;
    height: 40vh;
    padding-bottom: 10vh;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}