.head{
    /* background-image: linear-gradient( 135deg, #F5CBFF 10%, #C346C2 100%); */
    background-image: url('./img/wallhaven-r7vv3w.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-position-y: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.nWrapper{
  flex-grow: 0;
}
.titleWrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.j{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  font-weight: bold;
  color: whitesmoke;
}
.subtitle{
  text-decoration: underline;
  color: whitesmoke;
}