<html lang="zh">

<head>
    <meta charset="UTF-8">
    </meta>
    <title><%=require("../../package.json").name %></title>
    <meta name="description" content="<%=require("../../package.json").description%>">

    <!-- VIEW -->
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </meta>

    <!-- PWA -->
    <link rel="manifest" href="manifest.json">
    </link>

    <!-- APPLE -->
    <link rel="apple-touch-icon" sizes="128x128" href=<%= require("!!file-loader!./icon/icon.ico")%>>
    </link>
    <meta name="apple-mobile-web-app-capable" content="yes">
    </meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        html {
            width: 100%;
            height: 100%;
        }

        body {
            width: 100%;
            height: 100%;
        }

        #app {
            height: 100%;
            width: 100%;
        }

        .__loading-panel-wrapper {
            width: 100%;
            height: 100%;
            flex-direction: column;
            display: flex;
            justify-content: center;
        }

        .__loading-panel-inner {
            display: flex;
            justify-content: center;
        }

        .__loading-icon {
            width: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div id="__global-pace"></div>
    <div id="app">
        <div class="__loading-panel-wrapper">
            <div class="__loading-panel-inner">
                <div>
                    <img class="__loading-icon" src="<%= require("./icon/icon.png")%>"></img>
                </div>
            </div>
        </div>
    </div>
</body>

</html>